/*모바일용*/
.wrap_mini { padding:88px 5% 0 5%; height: 25%; }
.mini_banner {
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
}
.banner_inner {
	display: table;
	height: 100%;
	width: 100%;
}
.subtitle_holder {
	display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.subtitle_holder span {
	font-family: raleway, jeju gothic !important;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    letter-spacing: 8px;
}

.form_custom { padding:44px 10%; }
.form_title { 
	margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
}
.input_custom input { 
	width: 100%;
	padding: 14px;
	margin-bottom: 10px;
	border: 1px solid #c9c9c9;
	background-color: #FAFFBD;
}
input[type="button"] {
	cursor: pointer;
}
.input_custom .postcode_num { width: 64%; }
.input_custom .postcode_btn { width: 33%; margin-left: 3%;}

.input_custom .inline_input { width: 72%; }
.input_custom .check { 
	width: 26%; margin-left: 2%; 
	background: #fff;
	color: #292929;
	border: 1px solid #c9c9c9 !important;
}
.reg_title {
	margin-top: 15px;
	color: #a3a3a3;
	font-weight: 400;
	font-size: 14px;
}

.reg_billing {
	margin-top: 10px;
	height: 160px;
	overflow: auto;
	font-size: 12px;
	line-height: 1.3167rem;
	border: 1px solid rgba(218, 222, 225, 0.7);
	padding: 10px;
	color: #a3a3a3;
	font-weight: 300;
	overflow-y: hidden; 
}
.reg_billing:hover { overflow-y: scroll; }
.reg_check {
	font-weight: 300;
	font-size: 14px;
	margin-top: 10px;
    line-height: 1.57rem;
}
.reg_check .text_bold { font-weight: 500; }
.form_end { 
	margin-top: 35px; 
}
.form_end button {
	padding: 10px 20px;
	font-size: 13px;
	border: 2px solid #292929;
	color: #a3a3a3;
}
.login_btn button {
	padding: 15px 25px;
	border: none;
    background-color: #f3f3f1;
	color: #262626;
	font-size: 14px;
}

.login_btn button:hover {
	background-color: #c79972;
	color: #fff;
}

.login_btn a { margin-left: 20px; font-size: 14px; }
.login_btn a:hover { color: #c79972; }
.lost_password {
	color: #a3a3a3;
    font-style: normal;
	font-size: 13px;
	line-height: 23px;
	font-family: montserrat, nanum gothic !important;
	margin-bottom: 30px;
}
.reset_pw button {
	margin-top: 10px;
	padding: 14px 20px;
	background-color: #f3f3f1;
	border: none;
	font-size: 13px;
	font-weight: 400;
	cursor: pointer;
}
.reset_pw button:hover {
	background-color: #c79972;
	color: #fff;
}

.red {
	color: red;
	margin-bottom: 10px;
	font-size: 12px;
}
.blue {
	color: blue;
	margin-bottom: 10px;
	font-size: 12px;
}

@media all and (min-width: 500px) {
	.wrap_mini { padding:88px 35px 0 35px; height: 30%;}
}
/*테블릿용*/
@media all and (min-width: 768px) {
	.wrap_mini { padding:88px 35px 0 35px; height: 35%;}
	.subtitle_holder span {
		font-size: 36px;
		line-height: 36px;
	}
	.form_custom { padding: 44px 25%; }
	.input_custom .postcode_btn { width: 34%; margin-left: 2%;}
}

/*피씨용*/
@media all and (min-width: 998px) {
	.wrap_mini { padding:88px 35px 0 35px; height: 51%;}
	.form_custom { padding: 44px 30%; }
	.input_custom .postcode_btn { width: 34%; margin-left: 2%;}
}